@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --color-base-bg: #0a0a0f;
  --color-card-bg: #111118;
  --color-gold: #d47c1a;
  --color-teal: #0db5a0;
  --color-text-primary: #eeeff2;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0f;
    --foreground: #ededed;
  }
}

body {
  background-color: #0a0a0f;
  color: var(--color-text-primary);
  font-family: Arial, Helvetica, sans-serif;
}
